{% extends "base.html" %}

{% block content %} 

{% include "navbar.html" %}

<main role='main' class='container-fluid'>

  <div class='row px-4 py-sm-2 py-md-4'>

    <form class='col-md-4 text-center py-3' action='' method='post' enctype='multipart/form-data'
    onchange='showFiles("design_input", "design_filenames", "design_filesizes")'>
      {{ form.hidden_tag() }}
      <div>
        {{ form.design_files(multiple='multiple') }}
        {{ form.design_files.label(class='btn btn-secondary btn-form my-4') }}
      </div>

      <div class='upload-box rounded mx-auto py-3 px-3 w-75'>
        <div class='row'>
          <div class='col-7 filenames' id='design_filenames'></div>
          <div class='col-5 filesizes' id='design_filesizes'></div>
        </div>
      </div>

      <div class='form-check-inline mx-auto my-3'>
        {{ form.design_hgl_toggle(class='form-check-input') }}
        {{ form.design_hgl_toggle.label(class='form-check-label') }}
      </div>

      <div>
        {{ form.design_submit() }}
        {{ form.design_submit.label(class='btn btn-secondary btn-form mb-0') }}
      </div>

    </form>

    <form class='col-md-4 text-center py-3' action='' method='post' enctype='multipart/form-data'
    onchange='showFiles("velocity_input", "velocity_filenames", "velocity_filesizes")'>
      {{ form.hidden_tag() }}
      <div>
        {{ form.velocity_files(multiple='multiple') }}
        {{ form.velocity_files.label(class='btn btn-secondary btn-form my-4') }}
      </div>

      <div class='upload-box rounded mx-auto py-3 px-3 w-75'>
        <div class='row'>
          <div class='col-7 filenames' id='velocity_filenames'></div>
          <div class='col-5 filesizes' id='velocity_filesizes'></div>
        </div>
      </div>

      <div class='form-check-inline mx-auto my-3'>
        {{ form.velocity_fps_toggle(class='form-check-input') }}
        {{ form.velocity_fps_toggle.label(class='form-check-label') }}
      </div>

      <div>
        {{ form.velocity_submit() }}
        {{ form.velocity_submit.label(class='btn btn-secondary btn-form mb-0') }}
      </div>

    </form>

    <form class='col-md-4 text-center py-3' action='' method='post' enctype='multipart/form-data'
    onchange='showFiles("spread_input", "spread_filenames", "spread_filesizes")'>
      {{ form.hidden_tag() }}
      <div>
        {{ form.spread_files(multiple='multiple') }}
        {{ form.spread_files.label(class='btn btn-secondary btn-form my-4') }}
      </div>

      <div class='upload-box rounded mx-auto py-3 px-3 w-75'>
        <div class='row'>
          <div class='col-7 filenames' id='spread_filenames'></div>
          <div class='col-5 filesizes' id='spread_filesizes'></div>
        </div>
      </div>

      <div class='form-check-inline mx-auto my-3'>
        {{ form.spread_bypass_toggle(class='form-check-input') }}
        {{ form.spread_bypass_toggle.label(class='form-check-label') }}
      </div>

      <div>
        {{ form.spread_submit() }}
        {{ form.spread_submit.label(class='btn btn-secondary btn-form mb-0') }}
      </div>

    </form>

  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class='alert alert-bottom alert-{{ category }}' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='lose'>
            <span aria-hidden='true'>&times;</span>
          </button>
          <div class='text-center text-nowrap px-5'>
            {{ message }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

</main>

{% endblock %}